
body{
	background-size: 100%;
	background: darkgrey;
	font-family: Calibri;
	color: rgb(0, 0, 0);
	background-size: 100%;
	font-size: 11pt;
	text-align: center;

}
p{
	font-family: Arial;
	color: rgb(22, 74, 99);
}
h1{
	font-family:Arial Black;

}
